// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.card{
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  .picture{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a{
    text-decoration: none;
  }
}

.card:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.picture{
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 406px;
  right: 437px;
}

.mini-text-block {
  position: absolute;
    bottom: 77px;
    right: 63px;
}

img{
  width: 100%;
}

