<nav class="banner mb-5 py-2 align-items-center p-2 d-flex justify-content-between border-bottom bg-light">
  <h4 class="name"><%= link_to "Estelle's Cocktails", root_path, class: 'text-info'%></h4>
  <div class="d-flex justify-content-between">
    <form class="form-inline">
      <input class="form-control mr-sm-2" name="query" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button type="button" class="btn btn-info ml-3"><%= link_to 'Add a cocktail', new_cocktail_path, class: 'link-to-text-color text-white none'%></button>
  </div>
</nav>
